<app-header [titulo]="titulo"></app-header>
<app-menu-secundario [linkAnterior]="linkAnterior"></app-menu-secundario>
<div class="contPrincipal">
    <div class="contSecundario">
        @for (proyecto of proyectos(); track proyecto.idProyecto) {
            <button class="btnCuadrado" 
            [class.seleccionado]="proyecto.idProyecto === proyectoElegido()?.idProyecto" 
            (click)="elegirProyecto(proyecto)">
                <div class="celda">Estado: {{proyecto.tipoEstado}}</div>
                Titulo: {{proyecto.titulo}}
            </button>
        }
    </div>
    @if (rechazos()) {
        @for (rechazo of rechazos(); track rechazo.idRechazo) {
            <div class="rechazos">
                Historial de Rechazos
                <p>Se ha rechazado el proyecto</p>
                <div class="plan">
                    <div class="celda"> Fecha: {{rechazo.fecha}} </div>
                    <div class="celda"> Descripcion: {{rechazo.respuesta}} </div>
                </div>
            </div>
        }
    }
    @if (entregasProyecto().length > 0) {
        <div class="contSecundario">
            Historial de Entregas
            @for (entrega of entregasProyecto(); track entrega.idEntrega) {
                <div>
                    <div>Link de Entrega: 
                        <div class="celda"> <a href="{{entrega.link}}" target="_blank">Entrega</a> </div>
                    </div>
                    <div class="celda"> Id Entrega {{entrega.idEntrega}} </div>
                    <div class="celda"> Descripcion: {{entrega.descripcion}} </div>
                </div>
            }
        </div>
    }
    @if (proyectoElegido()) {
        <div>
            <form [formGroup]="formEntrega">
                <label >
                    Ingresa una descripcion para la entrega
                    <textarea rows="10" cols="35" type="text" formControlName="descripcion"></textarea>
                </label>
                <!-- <label >
                    Selecciona el Archivo del Proyecto:
                    <input type="file" (change)="subirEntrega($event)">
                </label>
                <button class="btnRedondo" [disabled]="formEntrega.invalid"
                (click)="mandarEntrega()">
                    Subir Archivo
                </button> -->
                    Espacio par el link que representa la entrega:
                    <input type="text" formControlName="link">
                <button class="btnRedondo" [disabled]="formEntrega.invalid || proyectoElegido()?.estado! > 4"
                (click)="mandarEntrega()">
                    Subir Entrega
                </button>
            </form>
        </div>
    }
    @if (cancelacion()) {
        <div class="contSecundario">
            <div class="celda">
                <p>Este proyecto ha sido cancelado por el cliente</p>
            </div>
            <div class="celda">
                Motivo: {{cancelacion()?.motivo}}
            </div>
        </div>
    }
</div>
