.fecha {
    font-size: var(--font-size);
    width: 300px;
    margin: auto;
}

input {
    display: block;
}

.reservacion {
    margin: 20px;
}

.reservacion > .celda:first-child {
    background: rgb(0, 153, 255);
}

.celda {
    padding: 10px;
    border: 1px solid black;
}

.pasajeros {
    border: 1px solid black;
    padding: 15px;
    max-width: 200px;
    overflow: auto;
}