.paquetes {
    padding: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
}

.paquete {
    border: 1px solid black;
    width: 300px;
}

.celda {
    border: 1px solid black;
}

.celda:first-child {
    background-color: #09f;
}