<app-head [titulo]="titulo"></app-head>
<app-regreso-menu [linkAnterior]="linkAnterior"></app-regreso-menu>

<div class="principal">
    <div class="espacioPaises">
        Elige el pais de Destino
        <label >
            <input type="text" [(ngModel)]="paisBuscado" [ngModelOptions]="{standalone: false}">
        </label>
        @for (pais of paises; track $index) {
            @if (paisBuscado == pais.substring(0, paisBuscado.length)) {
                <button class="boton" type="button" 
                [class.eleccion]="pais === paisSeleccionado"
                (click)="setPais(pais)"> {{pais}} </button>
            }
        }
    </div>

    <div class="container">
        <form [formGroup]="formDestino" (ngSubmit)="guardarDestino()">
            <label >
                Asignale un nombre al Destino
                <input type="text" formControlName="nombre" >
            </label>
            <label >
                Agrega una descripcion
                <input type="text" formControlName="descripcion">
            </label>
            <label >
                Define el mejor Clima y Epoca
                <input type="text" formControlName="climaEpoca">
            </label>
            <label >
                Puedes agregar un url de una imagen representativa
                <input type="text" formControlName="url">
            </label>
            <button class="boton" [disabled]="formDestino.invalid">Guardar Destino</button>
        </form>
    </div>

    
</div>