.principal {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.secundario {
    width: 400px;
    height: 500px;
    overflow: auto;
}

input {
    display: block;
    
}

.boton {
    width: 60%;
    padding: 3px;
    border-radius: 10px;
}

textarea {
    font-size: 20px;
    height: 200px;
    width: 90%;
}