input {
    display: block;
}

p {
    text-align: center;
}

.principal:last-child {
    margin-bottom: 200px;
}

.ganancias {
    background: rgb(81, 216, 81);
    margin: auto;
    width: 300px;
    font-size: var(--font-size);
}
